:root {
  --very-dark-drayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --white: hsl(360, 100%, 100%);

  --border-radius: 0.5rem;

  /* spacing */
  --sm-spacer: 2rem;
  --bg-spacer: 4rem;

  /* fonts */
  --fs-h1: 1.2rem;
  --fs-base: 0.9375rem;

  --fw-normal: 500;
  --fw-bold: 700;

  --ff-default: sans-serif;
  --ff-alt: "Manrope", sans-serif;

  --text-width: 25ch;
}

@media (min-width: 65em) {
  :root {
    --fs-h1: 1.5rem;
    --fs-base: 1.1rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

body {
  max-width: 120em;
  width: 80%;
  margin: 0 auto;

  font-size: var(--fs-base);
  font-family: var(--ff-default);

  background-color: var(--light-grayish-blue);

  height: 100vh;
  display: grid;
  place-items: center;
}

img {
  max-width: 100%;
}

.container {
  padding: 0 var(--sm-spacer);
}

.card {
  border-radius: var(--border-radius);
  color: var(--desaturated-dark-blue);
  background-color: var(--white);
}

.card__image {
  border-radius: 0.5rem 0.5rem 0 0;
  background: no-repeat url(../images/drawers.jpg);
  background-position: bottom right;
  background-size: cover;
  min-height: 15rem;
}

.card__content {
  padding-bottom: var(--sm-spacer);
  padding-top: var(--sm-spacer);
}

.card__body {
  position: relative;
}

.card__title {
  font-family: var(--ff-alt);
  font-size: var(--fs-h1);
  color: var(--very-dark-drayish-blue);

  max-width: var(--text-width);
  padding-bottom: calc(var(--sm-spacer) / 2);
  line-height: 1.2;
}

.card__description {
  max-width: calc(var(--text-width) + 20ch);
}

.card__footer {
  padding-bottom: var(--sm-spacer);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 65em) {
  .card {
    display: flex;
  }
  .card__image {
    border-radius: 0.5rem 0 0 0.5rem;
    width: clamp(20rem, 30rem, 40rem);
  }
}

.user__details {
  display: flex;
  align-items: center;
  gap: calc(var(--sm-spacer) / 2);
}

.user__image {
  width: 3rem;
  border-radius: 50%;
}

.social {
  display: flex;
  gap: var(--sm-spacer);
  align-items: center;
  justify-content: center;

  color: var(--white);
  background-color: var(--very-dark-drayish-blue);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  padding: 1em;
  text-transform: uppercase;

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;

  transition: all 350ms ease-in-out;
}

@media (min-width: 65em) {
  .social::after {
    content: "";
    border-left: calc(var(--sm-spacer) / 2) solid transparent;
    border-right: calc(var(--sm-spacer) / 2) solid transparent;
    border-top: calc(var(--sm-spacer) / 2) solid var(--very-dark-drayish-blue);
    width: 1.5rem;
    height: calc(var(--sm-spacer) / 2);

    position: absolute;
    right: calc(var(--sm-spacer) / 2);
    bottom: -1rem;
  }

  .social {
    right: 0;
    left: 30%;
    bottom: 40%;
    transform: translateX(-10%);
    border-radius: var(--border-radius);
  }
}

.share:hover {
  opacity: 0.5;
}

.share {
  align-self: center;
  background-color: var(--light-grayish-blue);
  border-radius: 50%;
  padding: calc(var(--sm-spacer) / 2);

  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.share:hover ~ .social,
.share:focus ~ .social {
  opacity: 1;
}
