:root {
  --very-dark-drayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --white: hsl(360, 100%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
 * Global styles
 */

body {
  max-width: 1400px;
  width: 80%;
  margin: 0 auto;

  font-size: 0.8125rem;
  font-family: sans-serif;

  background-color: var(--light-grayish-blue);

  height: 100vh;
  display: grid;
  place-content: center;
}

/*
 * Typography
 */

.heading {
  font-family: "Manrope", sans-serif;
  line-height: 1.6;
}

/*
 * Components
 *  1. Image
 *  2. Card
 *  3. User
 *  4, Social
 *
 */

/*
 * Image
 */

img {
  max-width: 100%;
}

/*
 * Card
 */

.card__image {
  border-radius: 0.5rem 0.5rem 0 0;
  width: 374px;
  height: 200px;
  object-fit: cover;
}

.card {
  border-radius: 0.5rem;
  color: var(--desaturated-dark-blue);
  background-color: var(--white);
}

.card__content {
  padding: 0.5rem 1.5rem;
}

.card__title {
  color: var(--very-dark-drayish-blue);
  font-size: 1.2rem;
  max-width: 28ch;
  margin: 0;
}

.card__description {
  line-height: 1.5;
  font-size: 0.9rem;
  max-width: 45ch;
}

.card__footer {
  padding: 1rem 1.5rem;
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*
 * User
 */

.user {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

.user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-name {
  font-weight: bold;
  color: var(--very-dark-drayish-blue);
}

/*
 * Social
 */

.share > img {
  border-radius: 50%;
  background-color: var(--light-grayish-blue);
  padding: 0.5rem;
}

.card__footer:hover > .social {
  opacity: 1;
}

.social {
  position: absolute;
  transition: 150ms transform;
  transform-origin: bottom center;
  opacity: 0;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;

  border-radius: 0 0 0.5rem 0.5rem;
  background-color: var(--very-dark-drayish-blue);
  padding: 0.1rem 0.3rem;

  display: flex;
  justify-content: center;
  column-gap: 0.5rem;
  align-items: center;
}

.social img {
  padding: 0.5rem;
}

.social-text {
  color: var(--grayish-blue);
  align-self: center;
  text-transform: uppercase;
}

@media (min-width: 600px) {
  .card {
    display: flex;
  }
  .card__image {
    border-radius: 0.5rem 0 0 0.5rem;
    width: 300px;
    min-height: 262px;
  }

  .social {
    all: unset;
    position: absolute;
    right: 5%;
    bottom: calc(100% - 0.1rem);
    transform: translate(25%, 0%);
    transition: 150ms transform;
    transform-origin: bottom center;
    opacity: 0;

    border-radius: 0.5rem;
    background-color: var(--very-dark-drayish-blue);
    padding: 0.1rem 0.3rem;

    display: flex;
    justify-content: center;
    column-gap: 0.2rem;
  }

  .social > img {
    width: 30px;
  }

  .share {
    position: relative;
    cursor: pointer;
  }

  .card__footer:hover::after {
    content: "";
    position: absolute;
    right: 10%;
    bottom: 80%;
    transform: translate(40%, 0);
    border: 0.5rem solid transparent;
    border-top-color: var(--very-dark-drayish-blue);
    transform-origin: top center;
  }
}
